
 <!--Тут отображаю выбранный товар-->
 <div style="padding:10px">
     <div class="row">
         <div class="col-md-6">
             <div class="card-body">
                 <h5 class="card-title" id="ProductIDName"></h5>
                 <p class="card-text" id="ProductCode"></p>
             </div>
             <ul class="list-group list-group-flush">
                 <li class="list-group-item" id="ProductLocation"></li>
             </ul>
         </div>
         <!--А тут отображаю пользователя к которому нужно прикрепить товар-->
         <div class="col-md-6">
             <div class="card-body">
                 <h5 class="card-title" id="UserLogin"></h5>
             </div>
             <ul class="list-group list-group-flush">
                 <li class="list-group-item" id="UserProfileSurname"></li>
                 <li class="list-group-item" id="UserProfileName"></li>
                 <li class="list-group-item" id="UserPatronomyc"></li>
             </ul>
         </div>
     </div>

     <div style="padding: 10px;"></div>
     <div class="footer">
         <a class="btn-outline-success" id="BtnBinding">Привязать</a>
     </div>

 </div>
