@model HelpSystem.Domain.ViewModel.Statment.StatmentResultViewModel
@{
    ViewBag.Title = "Детали заявки";
}


<div class="bg-light p-4">
    <label>Тема заявления</label>
    <input type="text" class="form-control mb-3" value="@Model.Reason" readonly="readonly" />
    <label>Ответ</label>
    <textarea name="Answer" class="form-control mb-3" readonly="readonly">@Model.Answer</textarea>
    <small class="text-muted d-block">
        Дата: @Model.DateCreated - @Model.DateCompleted
    </small>
</div>

