@model HelpSystem.Domain.ViewModel.Statment.AnswerStatmentViewModel
@{
    ViewBag.Title = "Детали заявки";
}
<div class="form-group">
    <div class="form-group" style="display: none;">
        <label for="hiddenID">ID</label>
        <input type="text" class="form-control" id="hiddenId" value="@Model.Id" readonly />
    </div>
    <label >ФИО</label>
    <input type="text" class="form-control" id="FIO" value="@Model.FullName" readonly />
    <label for="Reason">Тема</label>
    <input type="text" class="form-control" id="Reason" value="@Model.Reason" readonly />
    <label for="Description">Описание</label>
    <textarea type="text" class="form-control" id="Description" readonly>@Model.Description </textarea>

    <label >Ответ на заявку</label>
    <textarea id="AnID" name="Answer" class="form-control" required minlength="10"></textarea>
</div>