@model HelpSystem.Domain.ViewModel.Statment.AnswerStatmentViewModel
@{
    ViewBag.Title = "Детали заявки";
}

<style> 
    .small-select { 
        height: 30px; 
      
    }
</style>

<div class="form-group">
    <div class="form-group" style="display: none;">
        <label for="hhID">ID</label>
        <input type="text" class="form-control" id="hhID" value="@Model.Id" readonly />
    </div>

    <label >ФИО</label>
    <input type="text" class="form-control" id="FIO" value="@Model.FullName" readonly />
    <label for="Reason">Тема</label>
    <input type="text" class="form-control" id="Reason" value="@Model.Reason" readonly />
    <label for="Description">Описание</label>
    <textarea style="max-height:100px;" type="text" class="form-control" id="Description" readonly>@Model.Description </textarea>

<div class="row" style="margin:20px; display:none">
       <div class="col">
           <select class="form-control small-select step-select" id="ProductsID" name="stat"></select>
       </div>
       <div class="row" style="margin: 20px; ">
           <div class="col">
                <div class="d-grid gap-2">
                    <a id="BdButton" class="btn btn-danger btn-block" onclick="BindClick()">Привязать</a>
               </div>
           </div>
          <div class="form-floating">
                <textarea type="text" class="form-control step-com1" placeholder="Тут комментарий" style=" max-height:100px; min-height:10px; margin-top:10px;" id="Comment"></textarea>
                <label style="margin-left:5px;" for="Comment">Введите комментарий(необязательное поле)</label>
          </div>
           
       </div>
</div>

    <div class="form-floating">
        <textarea style="max-height:150px; margin-top:12px; min-height:20px;" placeholder="" id="AnID" name="Answer" class="form-control" required minlength="10"></textarea>
        <label for="AnID">Ответ  на заявку (обязательное поле)</label>
    </div>
    
</div>
@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {

            //Подсказки
            
        });
    </script>

}
