@model IEnumerable<HelpSystem.Domain.ViewModel.Provider.ProviderViewModel>?

@{
    ViewBag.Title = "Поставщики";
    Layout = "_Layout";
}
<style>
    /* Добавляем границу вокруг элемента <ul> с классом nav и nav-pills */
    ul.nav.nav-pills {
        border: 1px solid #ccc;
        border-radius: 6px; /* Для скругления углов */
        padding: 5px; /* Добавляем немного отступа внутри границы */
    }
</style>
<link href="~/css/myanimate.css" rel="stylesheet" />
<ul class="nav nav-pills">
    <li class="nav-item">
     
        <a class="nav-link" href="#" id="ProviderAdd">Добавить поставщика</a>
    </li>
</ul>
@if (Model != null && Model.Any())
{


    <div class="row">

        @foreach (var Us in Model)
        {

            <div class="col-md-3 mb-3">
                <div class="card user-animation" style="  width: 100%; margin:15px; ">
                    <div class="card-header">
                        <p class="card-title">Поставщик</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Us.ProviderName</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-grid-gap-2">
                            <a class="btn btn-outline-primary ">Изменить</a>
                            <a class="btn btn-outline-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Список поставщиков пуст</p>
}



@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js">
    </script><script src="~/js/modal.js?v=2"></script>

    <script>
        $(document).ready(function () {

            $('.user-animation').addClass('show');

            $('#ProviderAdd').on('click', async function () {
                const { value: providerName } = await Swal.fire({
                    title: 'Укажите наименование поставщика',
                    input: 'text',
                    inputPlaceholder: 'Введите наименование поставщика ',
                    inputValidator: (value) => {
                        if (!value || value.length < 5) {
                            return 'Минимальная длина наименования - 5 символов!';
                        }
                    }
                });

                if (providerName) {
                    CreateProvider(providerName);
                }
            });
        });

    </script>
}
