
@model HelpSystem.Domain.ViewModel.Warehouse.WarehouseViewModel
@{
    ViewBag.Title = "Детали склада";
    //Layout = "_Layout";
}

<div class="form-group">
    <div class="form-group" style="display: none;">
        <label for="WhHiden">ID:</label>
        <input type="text" class="form-control" id="WhHiden" value="@Model.Id">
    </div>
    <label for="WhName">Наименование:</label>
    <input type="text" class="form-control" id="WhName" value="@Model.WarehouseName">
</div>