@model dynamic

@{
    ViewBag.Title = "Склад";
    Layout = "_Layout";
}

<style>
    /* Добавляем границу вокруг элемента <ul> с классом nav и nav-pills */
    ul.nav.nav-pills {
      border: 1px solid #ccc;
      border-radius: 5px; /* Для скругления углов */
      padding: 5px; /* Добавляем немного отступа внутри границы */
    }
  </style>

<ul  class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Текущая</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" role="button" data-bs-toggle="dropdown" aria-expanded="false">Отчёты</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownReports">
            <li><a class="dropdown-item" href="#">Поступление</a></li>
            <li><a class="dropdown-item" href="#">Остатки</a></li>
            <li><a class="dropdown-item" href="#">Прикрепленный товар</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Может быть что-то ещё?</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBarReferences" role="button" data-bs-toggle="dropdown" aria-expanded="false">Справочник</a>
        <ul class="dropdown-menu" aria-labelledby="navBarReferences">
            <li><a class="dropdown-item" asp-controller="Provider" asp-action="Index" >Поставщики</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="WarehouseId" role="button" data-bs-toggle="dropdown" aria-expanded="false">Склады</a>
        <ul class="dropdown-menu" aria-labelledby="navBarReferences">
            <li><a class="dropdown-item" id="WarehouseAdd" href="#"  >Добавить склад</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a  class="nav-link" href="#">Добавить товар</a>
    </li>
</ul>
@section Scripts
{
    <script src="~/js/modal.js?v=3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
    $(document).ready(function() {
    
            $('#WarehouseAdd').on('click', async function () {
            const { value: WarehouseNmae } = await Swal.fire({
                title: 'Добавление склада',
                input: 'text',
                inputPlaceholder: 'Введите наименование склада ',
                inputValidator: (value) => {
                    if (!value || value.length < 5) {
                        return 'Минимальная длина наименования - 5 символов!';
                    }
                }
            });

                if (WarehouseNmae) {
                    CreateWarehouse(WarehouseNmae);
            }
        });

});
    </script>
}
