
@{
    ViewData["Title"] = "Недействительная ссылка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        max-width: 900px;
        min-width:700px;
        margin: 30px auto;
        background-color: lightgray;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 4, 93, 0.2);
    }

</style>
<div class="form-container">
    <p class="text-center" style="font-size:20px; color:black">Ссылка недействительна</p>
</div>
