
@{
    ViewData["Title"] = "Восстановление пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .form-container {
        max-width: 600px;
        margin: 30px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 4, 0, 0.1);
    }
</style>
<div class="form-container ">
    <h3>Служба восстановления пароля HelpDesk</h3>
    <form asp-controller="Account" asp-action="RecoveryPassword" id ="RecoverForm" method="post">
         <!-- Передача UserId -->
        <input type="hidden" name="userId" value="@ViewBag.UserId" />
        <input type="hidden" name="token" value="@ViewBag.Token" />

        <div class="mb-3">
            <label for="newPassword" class="form-label">Новый пароль:</label>
            <input type="password" class="form-control" id="newPassword" name="NewPassword" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Подтвердите пароль:</label>
            <input type="password" class="form-control" id="confirmPassword" name="NewDubletPassword" required>
        </div>
        <div class="footer">
            <div class="d-grid gap-2" style="margin-top:10px;">
                <button type="submit" class="btn btn-success">Восстановить пароль</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#RecoverForm").submit(function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Смена пароля',
                    html: 'Пожалуйста, подождите...',
                    timerProgressBar: true,
                    showConfirmButton: false,
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (response) {
                        Swal.fire({
                            title: 'Успешно',
                            text: response.description,
                            icon: 'success',
                            showConfirmButton: 'Отлично'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var token = $('input[name="token"]').val();
                                window.location.href = "/Account/Login";
                                $.post("/Account/DeleteToken", { key: token })
                                    .done(function () {
                                        console.success("Токен удален");
                                    })
                                    .fail(function (xhr, status, error) {
                                        console.error("An error occurred while deleting the token:", error);
                                    });
                            }
                        });
                    },
                    error: function (response) {
                        Swal.fire({
                            title: 'Что-то пошло не так',
                            text: response.responseJSON.description,
                            icon: 'error',
                            showConfirmButton: 'Понятно'
                        });
                    }
                });
            });
        });
    </script>
}
