﻿.row {
    margin-right: 0;
    margin-left: 0;
}

.card {
    box-shadow: 1px 2px 2px 3px #e97042;
  
}
.card-freeze {
    box-shadow: 1px 2px 2px 3px #7684d6;
}
.card-title {
    font-family: monospace;
    font-size: 25px;
}

.card-buttons-group {
    text-align: right;
    padding: 10px;
}

.card-img {
    filter: grayscale(1);
    transition: 1s;
    opacity:0.4;

}

    .card-img:hover {
        filter: grayscale(0);
        opacity:1;
    }

/*Для карточки со складом*/

.card-img-gif {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index :2;

}
.card:hover .card-img-gif {
    opacity: 1;

}

.card:hover .card-img-static {
    opacity: 0;
}

/*Для модального окна с */
.card-profile {
    box-shadow: 1px 2px 2px 3px #e97042; /* Тень */
    font-family: monospace; /* Шрифт */
    font-size: 16px;
    margin-bottom: 10px; /* Нижний отступ */
    transition: none;
    transform: none;
    width: 18rem;
    margin: 5px;
    margin-left :350px;
    justify-content: center;
    align-items: center;
}

/*Для карточки для специализированного склада*/
.card-service {
    box-shadow: 2px 2px 2px 4px #960909;
    font-family: monospace;
    border-radius: 10px;
    border: 2px solid #960909;
}
