
.card{
    transition:all 0.2s;
}
.card {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
 .card.show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
 .card:hover{
     transform:scale(1.10);
 }
 .Hq{
     font-family:monospace;
 }

