/*Для маршрута */
/* Стили для точек маршрута */
#routeInfoContainer{
    max-height:600px;
    overflow-y:auto;
}
.green .infoHtml {
    border-color: green;
}

.gray .infoHtml {
    border-color: gray;
}

.orange .infoHtml {
    border-color: orange;
}
.infoHtml {
    display: flex;
    border: 2px solid green; /* Цвет границы по умолчанию */
    padding: 5px;
    margin: 3px;
}

